<a href="https://colab.research.google.com/github/rodrigoromanguzman/Actividades_Aprendizaje-/blob/main/semana4/module1_python_for_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Rodrigo Ildefonso Roman Guzman|A01794225|Jobish|Semana 4 (Ocubre 5 2022)</h1>

<h2>Data Analysis with Python <b>Module 1</b><h2/>

<ol>
  <li>Computacion cientifica:
    <ul>
      <li>Pandas:
        <i>Estructura de datos con sus herramientas</i>
      </li>
      <li>Numpy: 
        <i>Arrays y Matrices</i>
      </li>
      <li>Scipy: 
        <i>Resolver ecuaciones diferenciales, optimizacion, etc</i>
      </li>
    </ul>
  </li>
  <li>Vizualizacion: 
    <ul>
      <li>MatPlotLib:
        <i>Plots y graficas</i>
      </li>
      <li>Seaborn: 
        <i>Construido a partir de MatPlot, util para mapas de calor</i>
      </li>
    </ul>
  </li>
  <li>Algoritmico: 
    <ul>
      <li>Scki-learn:
        <i>Machine Learning, regresion linear, clasificacion, etc</i>
      </li>
      <li>SM: 
        <i>Modelos estadisticos</i>
      </li>
    </ul>
  </li>

</ol>

Importar datos ->

In [6]:
import pandas as pd
import numpy as np
path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df = pd.read_csv(path)
#head imprime los primeros 5 elementos
print(df.head())
print('-----------')
#Si queremos trabajar con los datos sin header podemos declarar header = None
df = pd.read_csv(path,header=None)
print(df.head())

   3    ?  alfa-romero  gas  std   two  convertible  rwd  front  88.6  ...  \
0  3    ?  alfa-romero  gas  std   two  convertible  rwd  front  88.6  ...
1  1    ?  alfa-romero  gas  std   two    hatchback  rwd  front  94.5  ...
2  2  164         audi  gas  std  four        sedan  fwd  front  99.8  ...
3  2  164         audi  gas  std  four        sedan  4wd  front  99.4  ...
4  2    ?         audi  gas  std   two        sedan  fwd  front  99.8  ...

   130  mpfi  3.47  2.68   9.0  111  5000  21  27  13495
0  130  mpfi  3.47  2.68   9.0  111  5000  21  27  16500
1  152  mpfi  2.68  3.47   9.0  154  5000  19  26  16500
2  109  mpfi  3.19  3.40  10.0  102  5500  24  30  13950
3  136  mpfi  3.19  3.40   8.0  115  5500  18  22  17450
4  136  mpfi  3.19  3.40   8.5  110  5500  19  25  15250

[5 rows x 26 columns]
-----------
   0    1            2    3    4     5            6    7      8     9   ...  \
0   3    ?  alfa-romero  gas  std   two  convertible  rwd  front  88.6  ...
1   3    ?  alfa-romero  gas  std   two  convertible  rwd  front  88.6  ...
2   1    ?  alfa-romero  gas  std   two    hatchback  rwd  front  94.5  ...
3   2  164         audi  gas  std  four        sedan  fwd  front  99.8  ...
4   2  164         audi  gas  std  four        sedan  4wd  front  99.4  ...

    16    17    18    19    20   21    22  23  24     25
0  130  mpfi  3.47  2.68   9.0  111  5000  21  27  13495
1  130  mpfi  3.47  2.68   9.0  111  5000  21  27  16500
2  152  mpfi  2.68  3.47   9.0  154  5000  19  26  16500
3  109  mpfi  3.19  3.40  10.0  102  5500  24  30  13950
4  136  mpfi  3.19  3.40   8.0  115  5500  18  22  17450

[5 rows x 26 columns]

<p>Si por el contrario necesitamos agregar un encabezado lo podemos hacer de la siguiente manera</p>

In [5]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
#Agregamos el encabezado a nuestro DataFrame
df.columns = headers
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

<p>Para guardar los cambios del DataFrame en un documento hacemos lo siguiente:</p>

In [7]:
path_save = 'modified_data.csv'
df.to_csv(path_save)

<h4>Data Types</h4>
<table>
  <tr>
    <th>Pandas</th>
    <th>Python</th>
  </tr>
  <tr>
    <td>int64</td>
    <td>int</td>
  </tr>
  <tr>
    <td>float64</td>
    <td>double</td>
  </tr>
  <tr>
    <td>object</td>
    <td>String</td>
  </tr>
</table>

<p>Muchas veces es importante revisar que los datos hayan sido codificados con el tipo correcto</p>

In [10]:
df.dtypes # a partir de esto podriamos corregir los tipos

0       int64
1      object
2      object
3      object
4      object
5      object
6      object
7      object
8      object
9     float64
10    float64
11    float64
12    float64
13      int64
14     object
15     object
16      int64
17     object
18     object
19     object
20    float64
21     object
22     object
23      int64
24      int64
25     object
dtype: object

Podemos describir estadisticamente los datos

In [12]:
df.describe()

,0,9,10,11,12,13,16,20,23,24
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

<p>Tambien podemos entender mejor nuestros datos con la funcion info()</p>

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       205 non-null    int64
 1   1       205 non-null    object
 2   2       205 non-null    object
 3   3       205 non-null    object
 4   4       205 non-null    object
 5   5       205 non-null    object
 6   6       205 non-null    object
 7   7       205 non-null    object
 8   8       205 non-null    object
 9   9       205 non-null    float64
 10  10      205 non-null    float64
 11  11      205 non-null    float64
 12  12      205 non-null    float64
 13  13      205 non-null    int64
 14  14      205 non-null    object
 15  15      205 non-null    object
 16  16      205 non-null    int64
 17  17      205 non-null    object
 18  18      205 non-null    object
 19  19      205 non-null    object
 20  20      205 non-null    float64
 21  21      205 non-null    object
 22  22      205 non-null    object
 23  23      205 non-null    int64
 24  24      205 non-null    int64
 25  25      205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB